.mono {
    font-family: "IBM Plex Mono","IBM Plex Mono Fallback",ui-monospace,monospace;
}

.v-navigation-drawer {
    background-color: #141414 !important;
}

body, html {
    background-color: #000;
}